@import 'nib'
@import 'vendor/axis/index'
@import 'vendor/jeet/index'
@import 'vendor/bootstrap'
normalize-css()

button
	button()
	border-radius 0px
	transition 1s ease-in-out

.modal-content
	border-radius 0px

.modalDiv
	padding 15px
	word-wrap: break-word;

#fileInputButton
	position: relative
	left -249px
	top -1px
	width 76px
	height 22px
	border-radius 0px
	padding 0px
	pointer-events:none

#wrapper
	width 100%
	
#first
#second
#third
	margin: 0 auto
	width 40%
	margin-top 30px
	border 2px solid black
	padding 10px
	transition 1s ease-in-out

.outputContainerWrapper
	width 100%
	
.outputContainer
.outputContainer2
	border 2px solid black
	width 80%
	text-align: center;
	margin-top 30px
	margin-left: auto;
	margin-right: auto;

.outputChunk
	width: 200px;
	height 155px 
	display: inline-block;
	textarea
		border 1px solid black
	.chunkResult
		margin-left 18px
		margin-bottom 6px

#divideInput
	width 26px
	border 0px
	border-bottom 1px solid black

#viewDomains
#viewLinks
	margin-left 10px
	display none

.chunkResult
.getpositions
	display none

#filesReady
	margin-top: 15px;
	margin-bottom:10px;

.final
	width 200px
	margin 10px
	width 500px
	height 500px
	resize: none;
	white-space: nowrap;

.posFinal
	width 45px
	height 500px
	position relative
	left 11px
	bottom 10px
	resize: none;

.step4
	margin-left: 15px;
	margin-top: 15px;
	position: relative;
	float: left;
	
	